* {
  box-sizing: border-box;
}

body {
  background: #F1F2F3;
  color: #454545;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

header {
  background: #444;
  background: rgba(0,0,0,0.6);
  padding: 16px;
  h1 {
    color: #FFF;
    font-size: $font-size-20;
    font-weight: 200;
    margin: 0 auto;
    text-align: center;
    width: 980px;
  }
}

img {
  max-width: 100%;
}

.center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 980px;
  height: 730px;
}

.container {
  //width: 980px;
  width: 100%;
  @include clear();
}

.demo-menu {
  list-style: none;
  display: table;
  margin: 5em auto;
  width: 75%;
  li {
    background-image: linear-gradient(#FFF, #F2F3F4);
    //border-color: #DDD;
   // border-style: solid;
    //border-width: 1px 1px 1px 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.05);
    color: #444;
    cursor: pointer;
    display: inline-block;
    display: table-cell;
    text-align: center;
    width: 25%;
    height: 2em;
    vertical-align: middle;
    transition: all 350ms linear; 
    &:hover {
      background: #FFF;
    }
    &:first-child {
      border-radius: 4px 0 0 4px;
      //border-width: 1px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0; 
    }
    &:active {
      position: relative;
      top: 1px;
    }
    &.select {
      background: #FFF;
    }
  }
}

.workarea {
  background: #FFF;
  border: 1px solid #CCC;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.15);
  border-radius: 5px;
  height: 500px;
  margin: 25px auto 0 auto;
  overflow: hidden;
  width: 75%;
  position: relative;
}

.workarea-basics,
.workarea-scaling,
.workarea-magictext {
  position: absolute;
  left: 999px;
  top: 0;
  opacity: 0;
  transition: all 350ms linear;
}

.workarea-basics.show,
.workarea-scaling.show,
.workarea-magictext.show {
  position: initial;
  opacity: 1.0;
}

/* Basic Layout Styles */
.workarea-basics {
  text-align: center;
  .box-1, 
  .box-2,
  .box-3,
  .box-4 {
    width: 100px;
    height: 100px;
    transition: all 0.5s ease-in-out;
    &.static {
      position: static;
    }
    &.relative {
      position: relative;
    }
    &.absolute {
      position: absolute;
    }
  }
  .box-1 {
    background-color: #ee3e64;
    &.absolute {
      top: 0;
      left: 0;
    }
    &.fixed {
      transition: 4s;
      opacity: 0.0;
    }
  }
  .box-2 {
    background-color: #44accf;
    &.relative {
      left: 200px;
      transition: .8s;
      transform: translateX(100%);
    }
    &.absolute {
      top: 0;
      right: 0;
    }
    &.fixed {
      transition: 4s;
      opacity: 0.0;
    }
  }
  .box-3 {
    background-color: #b7d84b;
    &.absolute {
      bottom: 0;
      left: 0;
    }
    &.fixed {
      transition: 4s;
      opacity: 0.0;
    }
  }
  .box-4 {
    background-color: #7D669E;
    &.absolute {
      bottom: 0;
      right: 0;
    }
    &.fixed {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
  }
}

.basic-controls,
.text-controls {
  border-radius: 0 0 4px 4px;
  padding: 2em 0;
  background: rgba(0,0,0,0.2);
  position: absolute;
  width: 100%;
  bottom: 0; 
  left: 0;
  text-align: center;
  a {
    color: #454545;
    text-decoration: underline;
    font-size: $font-size-14;
    margin-left: 1em;
  }
}

.workarea-scaling {

}

.workarea-magictext {
  margin: 2em auto;
  width: 90%;
  h4 {
    color: #000;
    transition: all .5s linear;
    margin: 0 auto;
    &.width {
      width: 80%;
      margin: 0 auto;
    }
    &.linespacing {
      line-height: 2.2;
    }
    &.color {
      color: #454545;
    }
    &.fontsmoothing {
      -webkit-font-smoothing: antialiased;
    }
    &.textrendering {
      text-rendering: optimizeLegibility;
    }
    &.textsize {
      font-size: $font-size-24;
      font-weight: 900;
    }
  }
  p {
    color: #000;
    font-size: $font-size-16;
    font-weight: normal; 
    transition: all .5s linear;
    &.width {
      width: 80%;
      margin: 0 auto;
    }
    &.color {
      color: rgba(0,0,0,0.8);
    }
    &.linespacing {
      line-height: 1.6;
    }
    &.fontsmoothing {
      -webkit-font-smoothing: antialiased;
    }
    &.textrendering {
      text-rendering: optimizeLegibility;
    }
    &.textsize {
      font-size: $font-size-18;
      font-weight: 400;
    }
  }
}
