// Basic colors are set here
// --------------------------- //
$body-copy-color: #000;
$heading-color: #333;
$color: #454545;

// Font sizes -- 16px is 1em

$font-size-9: 0.563em;
$font-size-10: 0.635em;
$font-size-11: 0.688em;
$font-size-12: 0.750em;
$font-size-13: 0.813em;
$font-size-14: 0.875em;
$font-size-15: 0.938em;
$font-size-16: 1.000em;
$font-size-17: 1.063em;
$font-size-18: 1.125em;
$font-size-20: 1.250em;
$font-size-22: 1.375em;
$font-size-24: 1.500em;
$font-size-26: 1.625em;
$font-size-28: 1.750em;
$font-size-30: 1.875em;
$font-size-34: 2.125em;
$font-size-40: 2.5em;


h1,
h2,
h3,
h4 {
  color: $heading-color;
}

p {
  color: $color;
  font-size: $font-size-14;
}

h1 {
  font-size: $font-size-28;
}

h2 {
  font-size: $font-size-24;
}

h3 {
  font-size: $font-size-20;
}

h4 {
  font-size: $font-size-18;
}

h5 {
  font-size: $font-size-16;
}
